/*Partial filen er en underfil til style.scss. Underscore er nødvendig ellers opretter compileren css.map og .css fil*/

/*Variabler*/
$primary-color: #388071;
$secondary-color: #133833;
$bg-color: #f0f0f0;
$nav-color: #ffffff;
$text-color: #333333;
$footer-color: #0a1f1c;
$font: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;